In [1]:
import os
os.getcwd()

'/mnt/70887E57887E1BB2/Users/zulkanh/Downloads/UM WQD - SARJANA SAINS DATA/SEMESTER I, 2019 2020/WQD7005 Perlombongan Data (Data Mining)/assignment/milestone 1'

In [2]:
import numpy as np
import pandas as pd
import pandas_datareader.data as web

In [3]:
start = '2019-06-01'
end = '2019-09-25'

In [4]:
stocks_query = pd.read_csv('klse-main-market-stocks-rhbtradesmart-topvolume-code.csv', index_col=[0])

In [5]:
stocks = web.DataReader(stocks_query, data_source='yahoo')

/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '0078WB.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '0082WB.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '0172WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '3115WC.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '4456WD.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '5156WD.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '5199WC.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '5216WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '5218WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '5243WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '6068WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '7154WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '7158WB.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '7164WB.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '9385WA.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
/home/zulkanh/anaconda3/lib/python3.7/site-packages/pandas_datareader/base.py:230: SymbolWarning: Failed to read symbol: '9679WE.KL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [6]:
stocks.head()

Attributes    High                                                        \
Symbols    0043.KL  0056.KL 0065.KL  0078.KL 0078WB.KL 0082.KL 0082WB.KL
Date
2010-01-04     NaN  0.11932   0.160  0.03125       NaN    1.28       NaN
2010-01-05     NaN  0.11932   0.170  0.03250       NaN    1.35       NaN
2010-01-06     NaN  0.11932   0.185  0.03531       NaN    1.35       NaN
2010-01-07     NaN  0.12102   0.185  0.03438       NaN    1.45       NaN
2010-01-08     NaN  0.12273   0.200  0.03750       NaN    1.44       NaN

Attributes                             ... Adj Close                           \
Symbols     0090.KL  0099.KL  0128.KL  ...   7277.KL  8206.KL 8419.KL 8524.KL
Date                                   ...
2010-01-04  0.42333  0.33333  0.20422  ...   0.60871  0.08454     NaN     NaN
2010-01-05  0.30667  0.32576  0.21273  ...   0.60871  0.08660     NaN     NaN
2010-01-06  0.30333  0.32197  0.20848  ...   0.61325  0.08454     NaN     NaN
2010-01-07  0.42333  0.31818  0.20848  ...   0.60871  0.08248     NaN     NaN
2010-01-08  0.42333  0.31818  0.20422  ...   0.60871  0.08248     NaN     NaN

Attributes
Symbols      8664.KL   8877.KL 9113.KL   9385.KL 9385WA.KL 9679WE.KL
Date
2010-01-04  1.289649  0.119564   0.300  0.038810       NaN       NaN
2010-01-05  1.328534  0.119564   0.300  0.035024       NaN       NaN
2010-01-06  1.273449  0.119564   0.310  0.035024       NaN       NaN
2010-01-07  1.309088  0.119564   0.305  0.040230       NaN       NaN
2010-01-08  1.328534  0.117967   0.305  0.036917       NaN       NaN

[5 rows x 894 columns]

In [7]:
stocks.tail()

Attributes    High                                                      \
Symbols    0043.KL 0056.KL 0065.KL 0078.KL 0078WB.KL 0082.KL 0082WB.KL
Date
2019-09-19     NaN   0.260   0.680   0.305       NaN   0.730       NaN
2019-09-20     NaN   0.285   0.705   0.290       NaN   0.735       NaN
2019-09-23     NaN   0.290   0.700   0.285       NaN   0.725       NaN
2019-09-24     NaN   0.300   0.670   0.290       NaN   0.710       NaN
2019-09-25   0.055   0.300   0.670   0.290       NaN   0.715       NaN

Attributes                          ... Adj Close                          \
Symbols    0090.KL 0099.KL 0128.KL  ...   7277.KL 8206.KL 8419.KL 8524.KL
Date                                ...
2019-09-19   0.890   0.935    1.76  ...       NaN     NaN     NaN     NaN
2019-09-20   0.930   1.000    1.79  ...       NaN     NaN     NaN     NaN
2019-09-23   0.955   0.970    1.75  ...       NaN     NaN     NaN     NaN
2019-09-24   0.950   0.945    1.72  ...       NaN     NaN     NaN     NaN
2019-09-25   0.915   0.940    1.70  ...      3.39   0.645    0.59   0.915

Attributes
Symbols    8664.KL 8877.KL 9113.KL 9385.KL 9385WA.KL 9679WE.KL
Date
2019-09-19     NaN     NaN     NaN     NaN       NaN       NaN
2019-09-20     NaN     NaN     NaN     NaN       NaN       NaN
2019-09-23     NaN     NaN     NaN     NaN       NaN       NaN
2019-09-24     NaN     NaN     NaN     NaN       NaN       NaN
2019-09-25    1.44   0.785    0.31    0.43       NaN       NaN

[5 rows x 894 columns]

In [8]:
type(stocks)

pandas.core.frame.DataFrame

In [9]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2405 entries, 2010-01-04 to 2019-09-25
Columns: 894 entries, (High, 0043.KL) to (Adj Close, 9679WE.KL)
dtypes: float64(894)
memory usage: 16.4 MB

In [20]:
stocks.to_csv('klse-main-market-stock-rhbtradesmart-topvolume-data.csv')